Magic 271485
Revision Verdi_U-2023.03-SP2-9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1366 287 357 84

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/proj/breck_xco_cpm5brp_nobkup/undisree/BRECK/pratice2.sv/dump3.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 7140036.178200
cursor 1535000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 15
; marker line index
markerPos 22

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/proj/breck_xco_cpm5brp_nobkup/undisree/BRECK/pratice2.sv/dump3.fsdb"
addSignal -h 15 /ltssm_top/DUT/clk
addSignal -h 15 -holdScope reset
addSignal -h 15 -holdScope pipe_rx_data[0:15]
addSignal -h 15 -holdScope pipe_tx_data[0:15]
addSignal -h 15 -UNSIGNED -UDEC -holdScope ts1_rcvd_cnt[0][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope state[1:0]
addSignal -h 15 -UNSIGNED -ASC -holdScope state_ascii[160:1]
addSignal -h 15 -UNSIGNED -HEX -holdScope state[1:0]
addSignal -h 15 -holdScope ltssm_states_h[0:15]
addSignal -h 15 -UNSIGNED -HEX -holdScope command[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope d_to[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope pa_to[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope pc_to[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope state[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope next_state[1:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope ts1_sent_cnt[0][31:0]
addGroup "G2"
addSignal -h 15 /ltssm_top/DUT/rcv_5_ts1
addSignal -h 15 -holdScope rcv_8_ts1
addSignal -h 15 -holdScope rcv_8_ts2
addSignal -h 15 -holdScope sent_12_ts1
addSignal -h 15 -holdScope sent_16_ts2
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

